<a href="https://colab.research.google.com/github/23r91a7357-png/data-preprossing/blob/main/data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import pandas as pd
import numpy as np
data={'age':['25','27','np nan','100','30'],
      'salary':['50000','51000','50500','52000','51000'],
      'city':['A','A','B','A','A']}
df=pd.DataFrame(data)

# Convert age and salary to numeric, coercing errors will turn 'np nan' into actual NaN
df['age'] = pd.to_numeric(df['age'], errors='coerce')
df['salary'] = pd.to_numeric(df['salary'], errors='coerce')

print("original data")
print(df)

df['age']=df['age'].fillna(df['age'].mean())
print("\n after handling missing values:")
print(df)

Q1=df['age'].quantile(0.25)
Q3=df['age'].quantile(0.75)
IQR=Q3-Q1
lower_limit=Q1-1.5*IQR
upper_limit=Q3+1.5*IQR
df=df[(df['age']>=lower_limit)&
      (df['age']<=upper_limit)]
print("\n after noise deduction (outlier removal)")
print(df)

Q1=df['salary'].quantile(0.25)
Q3=df['salary'].quantile(0.75)
IQR=Q3-Q1
lower_limit=Q1-1.5*IQR
upper_limit=Q3+1.5*IQR
df=df[(df['salary']>=lower_limit)&
      (df['salary']<=upper_limit)]
print("\n after noise deduction (outlier removal)")
print(df)

df=df.drop_duplicates()
print("\n after removing redundant (duplicates) records")
print(df)

original data
     age  salary city
0   25.0   50000    A
1   27.0   51000    A
2    NaN   50500    B
3  100.0   52000    A
4   30.0   51000    A

 after handling missing values:
     age  salary city
0   25.0   50000    A
1   27.0   51000    A
2   45.5   50500    B
3  100.0   52000    A
4   30.0   51000    A

 after noise deduction (outlier removal)
    age  salary city
0  25.0   50000    A
1  27.0   51000    A
2  45.5   50500    B
4  30.0   51000    A

 after noise deduction (outlier removal)
    age  salary city
0  25.0   50000    A
1  27.0   51000    A
2  45.5   50500    B
4  30.0   51000    A

 after removing redundant (duplicates) records
    age  salary city
0  25.0   50000    A
1  27.0   51000    A
2  45.5   50500    B
4  30.0   51000    A